.grid{
    width: 80%;
    min-height: 58vh;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 8%;
    display: grid;
    grid-template-columns: repeat(7, 200px);
    grid-template-rows: 270px auto;
    gap: 20px;
}
